<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} ?: 'DevHack - Interview Preparation Tool'">DevHack</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/select2/4.0.13/css/select2.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/custom-typography.css}">


    <!-- jQuery and Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}" defer></script>

    <!-- Select2 JS -->
    <script th:src="@{/webjars/select2/4.0.13/js/select2.min.js}" defer></script>

    <!-- Custom JavaScript -->
    <script th:src="@{/js/select2-init.js}" defer></script>
    <script th:src="@{/js/animations.js}" defer></script>
    <script th:src="@{/js/theme-switcher.js}" defer></script>

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="fas fa-code me-2"></i>DevHack
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dashboardDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-home me-1"></i>Dashboards
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                            <li><a class="dropdown-item" th:href="@{/}">
                                <i class="fas fa-home me-1"></i>Main Dashboard
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/questions/dashboard}">
                                <i class="fas fa-question-circle me-1"></i>Questions Dashboard
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/vacancies/my-responses/dashboard}">
                                <i class="fas fa-briefcase me-1"></i>Vacancies Dashboard
                            </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="studyDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-book me-1"></i>Study
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="studyDropdown">
                            <li><a class="dropdown-item" th:href="@{/questions}">
                                <i class="fas fa-question-circle me-1"></i>Questions
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/answers}">
                                <i class="fas fa-comment me-1"></i>My Answers
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/notes}">
                                <i class="fas fa-sticky-note me-1"></i>Notes
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/tags}">
                                <i class="fas fa-tags me-1"></i>Tags
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/users}">
                                <i class="fas fa-users me-1"></i>Users
                            </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="vacanciesDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-briefcase me-1"></i>Vacancies
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="vacanciesDropdown">
                            <li><a class="dropdown-item" th:href="@{/vacancies}">
                                <i class="fas fa-briefcase me-1"></i>All Vacancies
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/vacancies/my-responses}">
                                <i class="fas fa-briefcase me-1"></i>My Responses
                            </a></li>
                            <li><a class="dropdown-item" th:href="@{/vacancies/my-responses/new}">
                                <i class="fas fa-plus-circle me-1"></i>Let`s find new!
                            </a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">
                            <i class="fas fa-info-circle me-1"></i>About
                        </a>
                    </li>
                </ul>
                <div class="theme-toggle ms-2" onclick="toggleTheme()">
                    <i id="theme-toggle-icon" class="fas fa-moon"></i>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
