<!-- Button Group Variant -->
<div *ngIf="variant === 'buttons'" class="d-flex gap-1">
    <button *ngFor="let action of allActions"
            [class]="action.cssClass + ' ' + buttonSizeClass"
            (click)="onAction(action, $event)"
            [title]="action.label">
        <i [class]="'bi ' + action.icon"></i>
    </button>
</div>

<!-- Dropdown Variant -->
<div *ngIf="variant === 'dropdown'" class="dropdown">
    <button [class]="dropdownToggleClass"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>
    <ul class="dropdown-menu">
        <ng-container *ngFor="let action of allActions; let last = last">
            <li>
                <a [class]="action.cssClass"
                   (click)="onAction(action, $event)"
                   style="cursor: pointer;">
                    <i [class]="'bi ' + action.icon + ' me-2'"></i>
                    {{ action.label }}
                </a>
            </li>
            <!-- Add divider before delete action if it's not the only action -->
            <li *ngIf="action.action === 'delete' && !last && allActions.length > 1">
                <hr class="dropdown-divider">
            </li>
        </ng-container>
    </ul>
</div>
